<!doctype html>
<html ng-app='DeckCardDemo'>

<head>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
</head>

<body ng-controller="DeckController as vm">
    <div>
        <h3>Original Deck</h3>
        <ul class="card-list">
            <li ng-repeat="card in vm.cards">
                <div class="card {{card.suit.color}}" ng-click="vm.cardClick(card, $index)">
                    <div class="letter">{{card.value}}</div>
                    <div class="suit">{{card.suit.icon}}</div>
                </div>
            </li>
        </ul>
        <div>
            <button type="button" ng-click="vm.shuffleOriginalDeck()">Shuffle Original Deck</button>
        </div>

        <h3>Drawn Cards</h3>
        <ul class="card-list">
            <li ng-repeat="card in vm.drawCards">
                <div class="card {{card.suit.color}}">
                    <div class="letter">{{card.value}}</div>
                    <div class="suit">{{card.suit.icon}}</div>
                </div>
            </li>
        </ul>

        <div>
            <button type="button" ng-click="vm.sortCards()">Sort Cards</button>
        </div>
    </div>
</body>

</html>